{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3 class="archive__item-title" itemprop="headline">
        {{ title }}
    </h3>
    <ul>
    {% if post.collaborators %}
      <li><font color="darkorange"><b> Collaborators: </b></font> { post.collaborators }}</li>
    {% endif %}
    {% if post.excerpt %}
      <li><font color="darkorange"><b> Intro: </b></font><p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p></li>
    {% endif %}
    {% if post.paper %}
      {% if post.paperurl %}
        <li><font color="darkorange"><b> Paper: </b></font>  <a href="{{ post.paperurl }}">{{ post.paper }}</a></li>
      {% else %}
        <li><font color="darkorange"><b> Paper: </b></font>  {{ post.paper }}</li>
      {% endif %}
    {% endif %}
    </ul>

  </article>
</div>
